.box{
    position: relative;
    width:30px;
    height:30px;
    background: red;
    border:1px solid black;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;transform: rotate(0deg);}
    25%  {background-color:yellow; left:200px; top:0px;transform: rotate(90deg);}
    50%  {background-color:blue; left:200px; top:200px;transform: rotate(180deg);}
    75%  {background-color:green; left:0px; top:200px;transform: rotate(270deg);}
    100% {background-color:red; left:0px; top:0px;transform: rotate(360deg);}
  }